<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Events</h1>
    </div>
  </div>
  <hr>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="row">
          <div class="col-sm-8">
            <input ng-model="eventsSearchText" type="search" class="form-control"
                   placeholder="Search events..">
          </div>
          <div class="col-sm-4">
            <a class="btn btn-block btn-primary" href="events/new">Add new event</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div
        dir-paginate="event in events | orderBy:'name' | filter:{ name: eventSearchText} | itemsPerPage: 8 "
        class="col-sm-12">
        <h3><a href="/events/{{event._id}}">{{event.name}}</a></h3>

        <div id="buttons">
          <a href="/events/{{event._id}}/edit" class="btn">Edit</a>
          <!-- deleteEvent args are 1: what to display in modal view, 2: what to delete -->
          <a class="btn btn-danger" ng-click="deleteEvent(event.name, event)">Delete</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-show="isBusy" class="col-sm-12 text-center">
      <h3>Loading events...</h3>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
      </dir-pagination-controls>
    </div>
  </div>
</div>
