<div class="container">

  <form name="companyForm" ng-submit="updateCompany(company)">

    <fieldset>
      <legend>Edit Exhibitor</legend>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Name:
                <input ng-model="company.name" value="{{company.name}}">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Info:
                <textarea ng-model="company.info" value="{{company.info}}" rows="10">
                  </textarea>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Logo:
                <img ng-src="{{company.logoUrl}}">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2">
        <button type=submit class="btn btn-default">Update</button>
      </div>

    </fieldset>
  </form>


</div>
