<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="NavbarController">
  <nav>
    <ul class="nav">
    <li>
      <a href="/companies">Companies</a>
    </li>
    <li>
      <a href="/events">Events</a>
    </li>
    <li>
      <a href="/partners">Partners</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/personnel">Personnel</a>
    </li>
    <li><a ng-show="nav.isLoggedIn()" href="/logout">Logout</a></li>
    </ul>
  </nav>
</div>
