<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="capitalize">{{type.name}}s</h1>
    </div>
  </div>
  <hr>
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="row">
          <div class="col-sm-8">
            <input ng-model="filterText" type="search" class="form-control"
                   placeholder="Search..">
          </div>
          <div class="col-sm-4">
            <a class="btn btn-block btn-primary" href="/{{type.endpoint}}/new">Add new {{type.name}}</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div
        dir-paginate="element in list | orderBy:'name' | filter:{ name: filterText} | itemsPerPage: 10 "
        class="col-sm-12">
        <h3><a href="/{{type.endpoint}}/{{element._id}}">{{element.name}}</a></h3>

        <div id="buttons">
          <a href="/{{type.endpoint}}/{{element._id}}/edit" class="btn">Edit</a>
          <!-- deleteCompany args are 1: what to display in modal view, 2: what to delete -->
          <a class="btn btn-danger" ng-click="delete(element.name, element)">Delete</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div ng-show="isBusy" class="col-sm-12 text-center">
      <h3>Loading...</h3>
      <br>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
      </dir-pagination-controls>
    </div>
  </div>
</div>
