<div class="container">
  <div class="row">

    <div class="col-sm-12">
      <h1>Companies</h1>

      <p><a href="companies/new">New Company</a></p>
    </div>

    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6">
        <li ng-repeat="company in companies">
          <a href="/companies/{{company._id}}" tooltip="{{company.name}}">{{company.name}}</a>
          <a href="/companies/{{company._id}}/edit" class="btn btn-default">Edit</a>
          <button type="button" class="close" ng-click="deleteCompany(company)">&times;</button>

        </li>
      </ul>
    </div>
    <hr>
  </div>
</div>
