#buttons {
  float: right;
}

h1 {
  color: white;
}

h3 {
  display: inline;
  color: white;
}

a {
  color: white;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #51039a;
  text-decoration: none;
}