<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Exhibitors</h1>
      <br>

      <div class="row">
        <div class="col-sm-8">
        <input ng-model="exhibitorSearchText" type="search" class="form-control" placeholder="Search exhibitors..">
        </div>
        <div class="col-sm-4">
          <a class="btn btn-block btn-primary" href="companies/new">Add new exhibitor</a>
        </div>
      </div>
    </div>
  </div>
  <br>

      <div class="row">
        <div ng-repeat="company in companies | orderBy:'name' | filter:exhibitorSearchText" class="col-sm-12">
            <h3><a href="/companies/{{company._id}}">{{company.name}}</a></h3>

            <div id="buttons">
              <a href="/companies/{{company._id}}/edit" class="btn">Edit</a>
              <a class="btn btn-danger" ng-click="deleteCompany(company)" confirm="Delete exhibitor?">Delete</a>
            </div>
            <hr>
        </div>
    </div>
</div>
