<div class="container">
  <form ng-submit="addPartner(partner)" class="new-partner-form">


    <fieldset>
      <div class="col-sm-12 text-center">
        <h1>New Partner</h1>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Name:</label><br>
                <input style="width: 40%;" ng-model="partner.name" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Website:</label><br>
                <input style="width: 40%;" ng-model="partner.websiteUrl" required>
            </div>
          </div>
        </div>
      </div>




      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">

              <label>Logo:</label>

              <span style="font-size: 11px; float: right;">
                Will be re-sized to 300 x 300 pixels
              </span>


              <div class="logo-upload" file-button ngf-select ngf-drop
                   ngf-resize="{width: 300, height: 300, quality: .9}"
                   ng-model="partner.logo" name="partner.logo"
                   accept="image/*" ngf-max-size="2MB"
                   ngf-model-invalid="errorFile" class="drop-box">

              <div style="height: 100%; width: 100%">

                <img style="height: 100%; width: 100%" ng-show="new-partner-form.partner.logo.$valid" ngf-src="partner.logo">
                <div ng-if="!partner.logo" class="upload-image-text">Click or drag image<br>here to upload</div>

              </div>
            </div>
            <button type="button" ng-click="partner.logo = null" ng-show="partner.logo" class="btn btn-primary">Remove</button>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-2 input-group-btn">
        <button type="submit" class="btn btn-primary">Add New
        </button>
      </div>

    </fieldset>

  </form>

  <div class="row">
    <div ng-show="errorMsg" class="col-sm-12 text-center">
      <br>
      <h3 class="error">{{errorMsg}}</h3>
      <br>
    </div>
  </div>
</div>
