<div class="container">

  <form name="eventForm" ng-submit="updateEvent(event)">

    <fieldset>
      <div class="col-sm-12 text-center">
        <h1>Editing {{event.name}}</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Name:</label><br>
                <input style="width: 40%;" ng-model="event.name" value="{{event.name}}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Info:</label>
                <textarea ng-model="event.info" value="{{event.info}}" rows="5" style="width: 100%;"></textarea>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">

            <div class="panel-body">

              <label for="location">Location:</label><br>
              <input style="width: 40%;" id="location" name="input" ng-model="event.location" required>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">

            <div class="panel-body">

              <label for="startDate">Start date:</label><br>
              <input style="width: 40%;" type="datetime-local" id="startDate" name="input" ng-model="event.startDate" required>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label for="endDate">End date:</label><br>
              <input style="width: 40%;" type="datetime-local" id="endDate" name="input" ng-model="event.endDate" required/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Logo:</label>

              <span style="font-size: 11px; float: right;">
                Will be re-sized to 300 x 300 pixels
              </span>

              <div class="logo-upload drop-box" file-button ngf-select ngf-drop
                   ngf-resize="{width: 300, height: 300, quality: .9}"
                   ng-model="event.logo" name="event.logo"
                   accept="image/*" ngf-max-size="2MB"
                   ngf-model-invalid="errorFile">

                <div style="height: 100%; width: 100%">

                  <!-- Both image and imageUrl cannot be shown at the same time. LogoURL occurs if we 'get' the
                  URL from the server. Logo occurs if we have removed said imageUrl, and added our own local image.-->
                  <img style="height: 100%; width: 100%" ng-show="event.imageUrl != 'null' && !event.logo" ngf-thumbnail="event.imageUrl" class="thumb">
                  <img style="height: 100%; width: 100%" ng-show="event.logo" ngf-thumbnail="event.logo" class="thumb">

                  <div ng-if="!event.imageUrl && !event.logo" class="upload-image-text">Click or drag image<br>here to upload</div>
                </div>

              </div>

              <button type="button" style="margin-top: 10px;" ng-click="event.imageUrl = null; event.logo = null;" ng-show="event.imageUrl || event.logo">Remove</button>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <button type=submit class="btn btn-block">Update</button>
        </div>
      </div>

    </fieldset>
  </form>

  <div class="row">
    <div ng-show="errorMsg" class="col-sm-12 text-center">
      <br>
      <h3 class="error">{{errorMsg}}</h3>
      <br>
    </div>
  </div>


</div>
