<div class="container">
  <form class="new-event-form" ng-submit="addEvent(event)">


    <fieldset>
      <div class="col-sm-12 text-center">
        <h1>New Event</h1>
        <hr>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Name:
                <input ng-model="event.name" required>
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Info:
                <textarea ng-model="event.info" rows="10">
                  </textarea>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Location:
                <input ng-model="event.location">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">

              <label for="startDate">Start date:</label>
              <input type="datetime-local" id="startDate" name="input" ng-model="event.startDate"
                     placeholder="yyyy-MM-dd" required/>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label for="endDate">End date:</label>
              <input type="datetime-local" id="endDate" name="input" ng-model="event.endDate"
                     placeholder="yyyy-MM-dd" required/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label for="registrationRequired">Registration required:</label>
              <input type="checkbox" ng-model="event.registrationRequired" ng-init="event.registrationRequired=true">
            </div>
          </div>
        </div>
      </div>

      <div class="registration" ng-show="event.registrationRequired">

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <label for="registrationStartDate">Registration start date:</label>
                <input type="datetime-local" id="registrationStartDate" name="input" ng-model="event.registrationStartDate"
                       placeholder="yyyy-MM-dd">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <label for="registrationEndDate">Registration end date:</label>
                <input type="datetime-local" id="registrationEndDate" name="input" ng-model="event.registrationEndDate"
                       placeholder="yyyy-MM-dd">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">
              <label>Registration URL:
                <input ng-model="event.registrationUrl">
              </label>
            </div>
          </div>
        </div>
      </div>

      </div>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="panel panel-default">
            <div class="panel-body">

              <label>Logo:</label>

              <div style="width: 100%; background: red;" file-button ngf-select ngf-drop
                   ng-model="event.logo" name="event.logo"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-model-invalid="errorFile" class="drop-box">

                <p style="height: 100%">

                  <img ng-show="new-event-form.event.logo.$valid"
                       ngf-src="event.logo">

                </p>
              </div>
              <button ng-click="event.logo = null" ng-show="event.logo" class="btn btn-primary">Remove</button>


            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-8 col-sm-offset-2 input-group-btn">
        <button type="submit" class="btn btn-primary">Add New
        </button>
      </div>
    </fieldset>
  </form>
  <br>

  <div class="row">
    <div ng-show="errorMsg" class="col-sm-12 text-center">
      <br>
      <h3 class="error">{{errorMsg}}</h3>
      <br>
    </div>
  </div>
</div>
